@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display">Welcome To StockWebApp</h1>
    <p>Let's count your stocks</p>
</div>
<br />
<div>
    <h5>Please SignIn / SignUp first to access the Stock Count
    </h5>
</div>
